<html ng-app="App" ng-controller="MainController as main">
<head>
    <title><%= site_name %></title>
     <link href="libs/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" media="screen">
</head>
<body>
    <div class="container">
        <div class="jumbotron">
            <h1><%= site_name %>!</h1>
            <p class="lead">
                {{main.description}}
            </p>
        </div>
    </div>
    <script src="libs/jquery/dist/jquery.min.js"></script>
    <script src="libs/angular/angular.min.js"></script>
    <script src="libs/angular-route/angular-route.min.js"></script>
    <script src="libs/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="app.js"></script>
    <!-- Placeholder:NewSrc -->
</body>
</html>