<div class="col-sm-12" id="admin.view">
	<div ng-if="!success">
	<div class="form-group">
		<label for="Username"><input type="text" name="Username" placeholder="Username" ng-model="user.id" required></label>
		<label for="Password"><input type="password" name="Password" placeholder="Password" ng-model="user.pwd" required></label>
	</div>
	<button class="btn" ng-click="logIn()">Log in</button>
	</div>
	<div ng-if="success">
		<div class="form-group">
			
			<input type="file" id="upload" >
			<button class="btn" ng-click="uploadFile()">Upload</button>
		</div>
	</div>
</div>