<div class="col-sm-12" id="admin.view">
	<div ng-if="!success">
	<div class="form-group">
		<label for="Username"><input type="text" name="Username" placeholder="Username" ng-model="user.id" required></label><br>
		<label for="Password"><input type="password" name="Password" placeholder="Password" ng-model="user.pwd" required></label>
	</div>
	<button class="btn" ng-click="logIn()">Log in</button>
	</div>
	<div ng-if="success">
		<form action="/upload" enctype="multipart/form-data" method="post">
            <label for="title"><input type="text" name="title" placeholder="Title"></label>
            <br>
            <select name="category">
            	<option value="tavlor">Tavlor</option>
            	<option value="vaskor">Väskor</option>
            	<option value="blommor">Blommor</option>
            	<option value="resor">Resor</option>
            </select>
            <br>
            <label for="file"><input type="file" name="file"></label><br>
            <input type="submit" value="Upload">
        </form>
	</div>
</div>