<div class="col-sm-12" id="home.view">
	<div class="jumbotron">
		<h1>Welcome to Idas page
		</h1>
	</div>
	<!-- <div class="grid">
		
		<div class="grid-item">
			<a href="assets/img/img1.jpg" data-lightbox="painting-set">
					<img src="assets/img/img1.jpg" width="250px" class="img-rounded">
				</a>
		</div>
		<div class="grid-item">
			<a href="assets/img/img1.jpg" data-lightbox="painting-set">
					<img src="assets/img/img1.jpg" width="250px" class="img-rounded">
				</a>
		</div>
		<div class="grid-item">
			<a href="assets/img/img2.jpg" data-lightbox="painting-set">
					<img src="assets/img/img2.jpg" width="250px" class="img-rounded">
				</a>
		</div>
		<div class="grid-item">
			<a href="assets/img/img2.jpg" data-lightbox="painting-set">
					<img src="assets/img/img2.jpg" width="250px" class="img-rounded">
				</a>
		</div>
		<div class="grid-item">
			<a href="assets/img/img2.jpg" data-lightbox="painting-set">
					<img src="assets/img/img2.jpg" width="250px" class="img-rounded">
				</a>
		</div>
		<div class="grid-item">
			<a href="assets/img/img3.jpg" data-lightbox="painting-set">
					<img src="assets/img/img3.jpg" width="250px" class="img-rounded">
				</a>
		</div>
		<div class="grid-item">
			<a href="assets/img/img3.jpg" data-lightbox="painting-set">
					<img src="assets/img/img3.jpg" width="250px" class="img-rounded">
				</a>
		</div>
		<div class="grid-item">
			<a href="assets/img/img4.png" data-lightbox="painting-set">
					<img src="assets/img/img4.png" width="250px" class="img-rounded">
				</a>
		</div>
		<div class="grid-item">
			<a href="assets/img/img1.jpg" data-lightbox="painting-set">
					<img src="assets/img/img1.jpg" width="250px" class="img-rounded">
				</a>
		</div>
		<div class="grid-item">
			<a href="assets/img/img1.jpg" data-lightbox="painting-set">
					<img src="assets/img/img1.jpg" width="250px" class="img-rounded">
				</a>
		</div>
		<div class="grid-item">
			<a href="assets/img/img2.jpg" data-lightbox="painting-set">
					<img src="assets/img/img2.jpg" width="250px" class="img-rounded">
				</a>
		</div>
		<div class="grid-item">
			<a href="assets/img/img3.jpg" data-lightbox="painting-set">
					<img src="assets/img/img3.jpg" width="250px" class="img-rounded">
				</a>
		</div>
		<div class="grid-item">
			<a href="assets/img/img3.jpg" data-lightbox="painting-set">
					<img src="assets/img/img3.jpg" width="250px" class="img-rounded">
				</a>
		</div>
		<div class="grid-item">
			<a href="assets/img/img3.jpg" data-lightbox="painting-set">
					<img src="assets/img/img3.jpg" width="250px" class="img-rounded">
				</a>
		</div>
		<div class="grid-item">
			<a href="assets/img/img3.jpg" data-lightbox="painting-set">
					<img src="assets/img/img3.jpg" width="250px" class="img-rounded">
				</a>
		</div>
		<div class="grid-item">
			<a href="assets/img/img4.png" data-lightbox="painting-set">
					<img src="assets/img/img4.png" width="250px" class="img-rounded">
				</a>
		</div>
	</div> -->
</div>