<div class="col-sm-12" id="resor.view">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-3">
				<a href="assets/img/travel_img1.jpg" data-lightbox="flower">
					<img src="assets/img/travel_img1.jpg" width="250px" class="img-rounded">
				</a>
			</div>
			<div class="col-md-3">
				<a href="assets/img/travel_img2.jpg" data-lightbox="flower">
					<img src="assets/img/travel_img2.jpg" width="250px" class="img-rounded">
				</a>
			</div>
			<div class="col-md-3">
				<a href="assets/img/travel_img3.jpg" data-lightbox="flower">
					<img src="assets/img/travel_img3.jpg" width="250px" class="img-rounded">
				</a>
			</div>
			<div class="col-md-3">
				<a href="assets/img/travel_img4.jpg" data-lightbox="flower">
					<img src="assets/img/travel_img4.jpg" width="250px" class="img-rounded">
				</a>
			</div>
		</div>

		<div class="row">

			<div class="col-md-3">
				<a href="assets/img/travel_img5.jpg" data-lightbox="flower">
					<img src="assets/img/travel_img5.jpg" width="250px" class="img-rounded">
				</a>
			</div>
		</div>
	</div>

</div>